<div>
    <img src="assets/b.jpg" alt="first images" width="100%">

</div>

<div class="container">
    <div class="row d-flex align-item-center">
        <div class="col-6">
            <h1> MARAVEL</h1>
            the Avengers, American comic strip superhero team whose frequently changing roster often included some of
            the most popular characters in the Marvel Comics universe. Billed as “Earth's mightiest super-heroes,” the
            team was created by writer Stan Lee and artist Jack Kirby, and it debuted in The Avengers no
        </div>

        <div class="col-6">
            <img src="assets/A.jpg" alt="second image" width="100%">
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex align-item-center">
        <div class="col-6">
            <img src="assets/A.jpg" alt="second image" width="100%">
        </div>

        <div class="col-6">
            <h1> MARAVEL</h1>
            the Avengers, American comic strip superhero team whose frequently changing roster often included some of
            the most popular characters in the Marvel Comics universe. Billed as “Earth's mightiest super-heroes,” the
            team was created by writer Stan Lee and artist Jack Kirby, and it debuted in The Avengers no
        </div>


    </div>
</div>